.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	margin: 0;
	text-align: center;
}

.header-home {
	width: 3em;
	height: 3em;
}

.header-home img {
	width: 100%;
}

.nav-link-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.nav-link {
	width: 150px;
	height: 2em;
	align-content: center;
	margin: auto 0.5em;
	border-radius: 5px;
}

.nav-link:hover {
	background-color: #2b96d8;
	color: #ffffff;
}
