.home-background {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
	width: 100%;
}

.home-container > .preview {
    max-width: 250px;
    height: auto; /* Consenti altezza variabile per contenere tutti gli elementi */
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid black;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.preview {
	text-align: center;
}

.preview a {
	text-decoration: none;
	color: inherit;
}

.preview label {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 10px;
}

.home-select {
	padding: 0.2em;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    font-size: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.home-select:focus {
    outline: none;
}

.home-select option {
    color: black;
    background-color: white;
    padding: 0.5em;
}

.preview-note, .preview-pomodoro, .preview-calendar, .preview-projects {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preview-note-cards-container, 
.preview-pomodoro-cards-container, 
.preview-calendar-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    width: 100%;
}

.preview-note-card, .preview-pomodoro-card, .preview-calendar-card {
    background-color: burlywood;
    min-width: 120px; /* Min-width di 120px per adattarsi in spazi stretti */
    max-width: 180px;
    height: 120px; /* Altezza fissa per una dimensione uniforme */
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
    border: 1px solid #ccc;
}

.preview-calendar-card {
	font-size: 1em;
}

.preview-note-card-title, .preview-calendar-card-title {
    font-weight: bold;
    font-size: 0.9em;
}

.preview-note-card-text {
    font-size: 0.7em;
}

.preview-note-card-date {
	font-style: italic;
	font-size: 0.7em;
}

@media screen and (max-width: 300px) {
	.preview-calendar-card {
		font-size: 0.8em;
	}
}