.background {
	background-image: url('/images/background.png');
    background-repeat: repeat;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}

.top-container {
	display: flex;
	width: 100vw;
	height: 100%;
	margin: 1em;
	align-items: center;
	justify-content: center;
}

.actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	padding: 15px;
	width: 60%;
	text-align: center;
}

.body-container {
	display: flex;
	width: 100vw;
	height: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: 1em;
}

.pomodoro-container {
	display: flex;
	align-items: center;
	flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
	border-radius: 15px;
	height: 60%;
	text-align: center;
	padding: 15px;
	max-width: 400px;
	margin: 20px 20px;
}

.config-container {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px;
	text-align: center;
	border-radius: 15px;
	max-width: 400px;
	margin: 20px 20px;
}

.title {
	display: flex;
	flex-direction: column;
	font-size: 50px;
	color: black;
	font-weight: bold;
}

h1 {
	font-weight: 900;
}

.buttons-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3%;
	width: 100%;
	align-items: center;
	padding: 0 1%;
	margin-top: 2%;
}

.add-event-button,
.previous-pomodoros-button,
.share-config-button,
.music-button {
	background-color: bisque;
	color: black;
	border-radius: 16px;
	width: 140px;
	padding: 3px;
	border: 1px solid black;
	margin: 3px;
}

.preview {
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: black;
    width: 100%;
	flex-direction: row;
}

.previous-pomodoros {
	margin: 10px;
	background-color: bisque;
	border-radius: 16px;
	width: 150px;
	padding: 3px;
	border: 1px solid black;
}

.pomodoro img {
	width: 100%;
	height: 100%;
}

.pomodoro {
	position: relative;
	width: 250px;
	height: 250px;
	color: white;
	text-align: center;

}

.timer {
	color: rgb(255, 255, 255);
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 45px;
	font-weight: 600;
}

.status {
	margin: 0.5em auto 1em;
	width: 300px;
	color: black;
	text-align: center;
}

.start-button,
.stop-button {
	width: 100px;
	margin: 1px;
}

.skip-phase-button,
.skip-cycle-button,
.repeat-cycle-button {
	border: none;
    padding: 0.5em;
	margin: 1px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.commands-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	align-items: center;
	margin-top: 1%;
}

.paragraph {
	margin: 0.5em auto 1em;
	width: 100%;
	color: black;
	text-align: center;
	
}

.pannello {
	display: flex;
	background-color: bisque;
	margin: 10px auto;
	border-radius: 16px;
}

.pannello label {
	margin: auto;
	padding: 0 3px;
	width: 50%;
}

.studyTime,
.breakTime,
.studyCycles,
.totMinutes,
.totHours {
	width: 100%;
	justify-content: space-between;
}

.pannello input {
	border-radius: 0px 16px 16px 0px;
	border: none;
	padding: 16px;
	font-size: 15px;
	width: 50%;
}

.animate-pomodoro {
	animation: colorChange linear forwards;
}

.reverse-animate-pomodoro {
	animation: reverseColorChange linear forwards;
}


@keyframes colorChange {
	0% {
		filter: hue-rotate(0deg);
	}

	/* Inizio dell'animazione: colore rosso */
	100% {
		filter: hue-rotate(60deg);
	}

	/* Fine dell'animazione: colore verde */
}

@keyframes reverseColorChange {
	0% {
		filter: hue-rotate(60deg);
	}

	/* Inizio dell'animazione: colore rosso */
	100% {
		filter: hue-rotate(0deg);
	}

	/* Fine dell'animazione: colore verde */
}




.create-event-container {
	display: flex;
	flex-direction: column;
}

.create-event-container > form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.createEventinput {
	background-color: white;
}

.create-event-form-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 500px;
	border-radius: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background.png');
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.send-invite-container {
    margin: 1em;
}

.send-invite-button {
	margin-top: 10px;
}

.music-container {
    margin: 1em;
}







/*Media query per responsiveness*/

@media screen and (max-width: 768px) {
	.create-event-container > form {
		width: 300px;
	}

	.title {
		font-size: 30px;
	}

	.body-container {
		flex-direction: column;
	}

	.config-container {
		width: 300px;
	}

	.commands-container {
		flex-direction: column;
	}

	.add-event-button,
	.previous-pomodoros-button,
	.music-button,
	.share-config-button {
		width: 110px;
		font-size: smaller;
	}

	.preview {
		flex-direction: column;
	}

	.previous-pomodoros {
		width: 100px;
	}

	.pomodoro img {
		width: 200px;
		height: 200px;
	}

	.skip-cycle-button,
	.skip-phase-button,
	.repeat-cycle-button {
		width: 100px;
		font-size: 14px;
	}

	.timer {
		top: 48%;
		font-size: 30px;
		font-weight: 500;
	}

	.status {
		font-size: large;
	}

	.pannello label {
		font-size: 14px;
	}

	.pannello input {
		width: 40%;
		padding: 10px;
	}
}

@media screen and (max-width: 480px) {
	.actions-container,
	.pomodoro-container,
	.config-container {
		width: 250px;
	}
}
