/* PROJECTS PAGE */

.projects-container {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-container > a {
    margin: 1em auto;
}

.projects-container > a > button {
    background-color: bisque;
    color: black;
    font-weight: bold;
    border: none;
    padding: 0.8em 1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 70%;
    justify-content: center;
    padding: 2em 1em;
}

.card-project {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease;
}

.card-project-title {
    text-align: center;
    background-color: rgba(255, 228, 196, 0.9);
    color: black;
    padding: 1em;
    font-weight: bold;
    font-size: 1.1em;
}

.card-project-description {
    padding: 1em;
    color: black;
    text-align: justify;
    font-size: 0.9em;
    flex-grow: 1;
}

.card-project-buttons {
    display: flex;
    justify-content: space-evenly; /* Distribuisce i pulsanti in modo uniforme */
    padding: 0.5em 1em 1em;
    gap: 0.5em;
}

.card-project-buttons button {
    border: none;
    padding: 0.5em 1em;
    border-radius: 8px;
    background-color: #4a90e2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 350px) {
    .card-project-buttons {
        flex-direction: column;
    }
}



/* SINGLE PROJECT PAGE */

.project-background {
    background-image: url('/images/background.png');
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container {
	width: calc(100% - 4em);
	height: calc(100% - 4em);
	margin: 2em auto;
	max-width: 800px;
	display: flex;
	flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
	padding: 2em;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	transition: transform 0.2s;
}

.project-page-title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.project-title {
    text-align: left;
    font-weight: bold;
}

.close-link {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    background-color: #d64545;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.close-link:hover {
    background-color: red;
}

.project-container > * {
	width: 100%;
	margin-bottom: 1em;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.project-container * {
	border-radius: 8px;
}

.project-container > label {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	color: #4a4a4a;
    gap: 0.5em;
}

.project-container input,
.project-container textarea,
.project-container select {
	width: 100%;
	padding: 0.8em;
	border: 1px solid #ddd;
	border-radius: 8px;
	outline: none;
	font-size: 1em;
	transition: box-shadow 0.2s ease;
}

.project-container input:focus,
.project-container textarea:focus,
.project-container select:focus {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.project-container button {
	margin: 0.5em auto;
	padding: 0.8em 1.5em;
	border-radius: 8px;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	background-color: #3a7a3c;
	color: white;
	border: none;
	box-shadow: 0 2px 8px rgba(58, 122, 60, 0.2);
	transition: background-color 0.2s, transform 0.2s;
}

.project-container button:hover {
    background-color: green;
}

.project-users-form {
	display: flex;
	align-items: center;
}

.project-users-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.5em;
    margin-top: 5px;
}

.project-user-box {
	padding: 0.4em 0.8em;
	background-color: #ffd57e;
	color: #4a4a4a;
	font-weight: 500;
	font-style: italic;
	display: flex;
	align-items: center;
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-user-delete {
	color: #d64545;
	width: 2em;
	height: 1.5em;
	font-size: 0.8em;
	margin-left: 0.5em;
	border: none;
	background: transparent;
	cursor: pointer;
	transition: color 0.2s;
}

.project-user-delete:hover {
	background-color: #a12a2a;
}

.project-container textarea {
	resize: vertical;
	min-height: 200px;
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	border: 1px solid #ddd;
}

.project-activities-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-activities-container > label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
	font-weight: bold;
	color: #4a4a4a;    
}

.project-activities-box {
    gap: 0.5em;
    flex-wrap: wrap;
}

.project-activity-item {
    padding: 0.4em 0.8em;
	background-color: #ffd57e;
	color: #4a4a4a;
	font-weight: 500;
    width: 40%;
	font-style: italic;
	display: flex;
	align-items: center;
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 0.5em;
    flex-wrap: wrap;
}

.project-activity-edit, .project-activity-create {
    margin: 0.5em auto;
	padding: 0.8em 1.5em;
	border-radius: 8px;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	background-color: #3a7a3c;
	color: white;
	border: none;
	box-shadow: 0 2px 8px rgba(58, 122, 60, 0.2);
	transition: background-color 0.2s, transform 0.2s;
}

.project-activity-delete {
	font-size: 0.8em;
	margin-left: 0.5em;
	border: none;
	background: transparent;
	cursor: pointer;
	transition: color 0.2s;
}

.project-activity-delete:hover {
	background-color: red;
}

.project-activity-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.project-activity-form input {
    width: auto;
}

.message {
	margin-top: 1em;
	padding: 0.8em;
	border-radius: 8px;
	background-color: #f9f9f9;
	color: #333;
	font-size: 1em;
	text-align: center;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 640px) {
    .close-link {
        top: 0;
        right: 50%;
        transform: translate(50%, 0);
    }

    .project-page-title {
        padding-top: 2em;
    }
}